/** FONTS **/
@font-face {
  font-family: "Open Sans";
  src: url("/front-end/admin/assets/fonts/OpenSans-VariableFont_wdth,wght.ttf") format('truetype');
  font-weight: 300 800;
  font-style: normal;
  font-display: swap;
}

/** BASE **/
:root {
  --link-color: #0d6efd;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 18px;
  margin: 0;
}

a {
  color: var(--link-color);
}

img {
  width: 100%;
}

input {
  font-family: inherit;
  font-size: .8em;
  padding: .4em;
  min-width: 300px;
}
input[type="radio"] {
  min-width: initial;
}
.input--full-w {
  width: 100%;
}
.input--small-w {
  min-width: initial;
  width: 5rem;
}

select {
  font-size: .8em;
  padding: .35em;
}

/** STYLES **/
.tac {
  text-align: center;
}

.db {
  display: block;
}

.js-dn {
  display: none;
}
.js-db {
  display: block;
}

.mb-1em {
  margin-bottom: 1em;
}

.mb-7-5rem {
  margin-bottom: 7.5rem;
}

.fz-init {
  font-size: initial;
}

.d-flex-ai-center {
  display: flex;
  align-items: center;
}

.pos-fix-1 {
  position: relative;
  top: 1px;
}

/** COMPONENTS **/
.text--smaller {
  font-size: 0.75em;
}
.text--smaller-2 {
  font-size: 0.85em;
}

.admin {
  font-size: 150%;
}

.cont {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.header {
  padding-top: 1.7rem;
  font-size: 1.1rem;
  position: relative;
  padding-left: 3.5rem;
}

.back-home-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 1rem;
  transform: rotate(-90deg);
  top: 1px;
}

.page-name {
  padding-top: 3rem;
}
.page-name--pt-0 {
  padding-top: 0;
}

.heading--index {
  font-size: 180%;
  margin-bottom: 2rem;
}

.main {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.actions-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}
.actions-list__link {
  text-decoration: none;
}
.actions-list__link:hover {
  text-decoration: underline;
}

.editable-datum {
  margin-bottom: 4rem;
}
.editable-datum__name-and-btns {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-bottom: 1.5em;
}
.editable-datum__name {
  margin-bottom: 0;
}
.editable-datum__btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 14%;
  position: relative;
  top: 3px;
}
.editable-datum__imgs-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 70px;
}
.img-holder {
  max-width: 300px;
  height: 300px;
}
.img-holder--smaller {
  height: 250px;
}
.img-holder img {
  object-fit: contain;
  height: 100%;
}

.textarea {
  width: 27rem;
  height: 10rem;
  font-family: inherit;
  padding: 0.6rem;
  box-sizing: border-box;
  font-size: 0.9em;
}
.textarea--full {
  width: 100%;
  height: 11.5rem;
}
.textarea--small {
  width: 18rem;
  height: 5rem;
}
.textarea--w-code {
  font-family: monospace;
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: inherit;
  display: inline-block;
}
.btn-w-icon__svg {
  position: relative;
  top: 2px;
}

.btn--admin {
  background-color: #FEDE32;
  font-weight: bold;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 1em;
  padding-right: 1em;
}
.btn--admin:hover {
  background-color: #eaca16;
}
.btn--admin:active {
  background-color: #d7ba11;
}
.btn--admin--loading {
  background-color: #eaca16;
}

.attention {
  background-color: #e1e94a;
  padding: 1em;
}

.category-name {  /* class should be applied to <h3> */
  padding-bottom: .75em;
}
.category-name--hidden {
  opacity: .4;
}
.js-category-name {
  cursor: pointer;
}
.category-name__num {
  opacity: .4;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 20px;
  row-gap: 55px;
}
.products-grid__product {
  display: flex;
  flex-direction: column;
  gap: 13px;
  text-align: center;
  color: inherit;
  text-decoration: none;
  padding: 10px;
}
.products-grid__product__btn--admin {
  margin-top: auto;
}

.product-name-cont {
  margin-top: 2.5rem;
}
.product-name {
  display: inline-block;
  font-weight: 600;
  border-bottom: 1px solid black;
}
.product-name-cont__actions {
  margin-top: 0.5em;
  font-size: .7em;
}
.product-name__btns__btn {
  margin-right: .4em;
  padding: 4px 8px;
}

.edit-product-header-section-grid {
  display: grid;
  grid-template-columns: 1fr 30%;
  grid-template-rows: 1fr 1fr;
  padding-top: 3rem;
}
.edit-product-header-section-grid__img {
  width: 285px;
  width: 161px;
  height: 188px;
  height: auto;
  grid-row: span 2;
  max-width: 100%;
  place-self: center;
}

/* наглый копи-паст */
.form__section {
  margin-bottom: 35px;
}
.form__section--breaker {
  margin-bottom: 65px;
}
.form__section--imgs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 70px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 27px;
  background-color: #e2e2e2;
  padding: 15px;
}
.gallery__item {
  position: relative;
}
.gallery__item__x {
  display: inline-block;
  position: absolute;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  background-color: rgb(231, 146, 146, .7);
  text-align: center;
  font-size: 24px;
  line-height: 25px;
  cursor: pointer;
}

/** BOOTSTRAP-LIKE COMPONENTS **/
.bs-like-btn {
  padding: 6px 12px;
}
.bs-like-btn--warning {
  background-color: #ffc107;
}
.bs-like-btn--info {
  background-color: #0dcaf0;
}
.bs-like-btn--danger {
  background-color: #dc3545;
}