@font-face {
  font-family: "Open Sans";
  src: url("/front-end/site/assets/fonts/OpenSans-VariableFont_wdth,wght.ttf") format('truetype');
  font-weight: 300 800;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: "Open Sans", Arial, sans-serif;
}

body {
  background-color: #f5f5f5;
  padding-top: 40px;
  overflow-x: auto;
  padding-bottom: 200px;
}

.cont {
  max-width: 1200px;
  margin: 0 auto;
}

.important {
  color: #af2a2a;
  font-size: 130%;
}
.text--regular {
  font-weight: normal;
}

table {
  color: #494547;
  border-collapse: collapse;
  position: relative;
}
.table--hidden {display: none;}
th, td {
  border: 1px solid black;
  padding: 9px;
}
thead th, thead td {
  border: none;
}
.thead__tr {
  line-height: 81px;
}
.title {
  font-size: 28px;
}
.title-columns {
  font-size: 115%;
}
.title-columns th {
  position: sticky;
  position: -webkit-sticky;
  top: -3px;
  z-index: 1;
  background-color: #f5f5f5;
}
.title-columns th::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
}
.category {
  font-size: 200%;
  font-weight: bold;
  padding-top: 32px;
  padding-bottom: 32px;
}
.first-product-in-model {
  border-top: 2px solid black;
}
.td--holding-img {
  text-align: center;
  padding: 0;
  background-color: #fff;
  padding: 15px;
}
.td--holding-img__img {
  max-width: 30%;
}
.td--model--imgs-needs-only-one-row {
  padding: 0;
}
.td--model--imgs-needs-only-one-row__text {
  padding: 9px;
}
.td--model--imgs-needs-only-one-row__img__cont {
  background-color: white;
  text-align: center;
  margin-bottom: 0;
}

.table-switcher-pane {
  position: fixed;
  bottom: 0;
  left: 10vw;
  z-index: 50;
}
@media (max-width: 750px) {
  .table-switcher-pane {
    left: 0;
    min-height: 60px;
    min-width: 250px;
    display: flex;
  }
  .table-switcher-pane__btn {
    flex-grow: 1;
  }
}
.table-switcher-pane__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 8px 13px;
  background-color: #eee;
}
.table-switcher-pane__btn--active {
  font-weight: bold;
  border: 2px solid black;
  border-bottom: 5px solid black;
  opacity: 1;
}
.table-switcher-pane__btn--sprava {
  background-color: #FEDE32;
}
.table-switcher-pane__btn--roshma {
  background-color: rgb(134 209 134);
}